*.iml
.gradle
.gradle-user/
.gradle-user-home/
/.android-user/
/.android-user-home/
/.kotlin/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
**/build/
**/.cxx/
local.properties
keystore.properties
*.jks
*.keystore
temp_fileprovider_src/
/vendor/onexr.upstream/
/vendor/uvccamera.upstream/
/vendor/xr-tools.reference/
/vendor/xreal_one_driver.reference/
